
@font-face {
    font-family: '';
    src: url('../.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '';
}

body {
    background-color: whitesmoke !important;
    z-index: 1;

}

/*start navbar*/
 .navbar{
    margin-bottom: 0px !important;
}
.navbar a{
    color: black; font-size: 17px;
}

.navbar a:hover{
    color: #FF4445;
}
.carousel .carousel-indicators{
    width: 70%;
}
.carousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #FF4445;
    border: none;
}
.carousel  .carousel-inner{
    height: 550px; background-color: rgba(0, 0, 0, .9);
}
@media(max-width: 992px){
    .carousel  .carousel-inner{
        height: auto;
    }
    .navbar-collapse{
    margin: 0 !important;
    }
}


/*start body*/
.body{
    padding: 50px 0;  
}
.body .card{
 border-radius: 20px; border: none;  
}
.body .card-title{
    background-color: #FF4445; border-radius: 20px 20px 0px 0px 
}
.body .card-title h2,
.body .card-title h3{
    margin: 10px; color: white;
}
.body .card-title h2:first-child{
    float: left;
}
.body .card-body .badge{
    float: right;
}
.body .card-body img{
    margin-right: 8px;
}
.body .card-body .sc-pragraph{
    margin-top: -15px; margin-left: 34px; font-size: 14px;
}
.body .card-body .sc-pragraph span{
    color: #FF4445;
}
.body .text-content-1{
    padding: 50px 0; margin-bottom: 190px;
}
.body .text-content-1 button{
    height: 100px; width: 100px; 
}
.body .text-content-1 .btn-danger{
  border: 1px solid #FF4445; background-color: #FF4445; 
}
.body .text-content-1 .btn-outline-danger:hover{
    border: 1px solid #FF4445; background-color: #FF4445; 
  }

.body .container{
    width: 100%;
    padding: 30px 0px; /*62px;*/
}

.grid-item{
    margin-bottom: 10px;
  
   
}
@media(max-width: 992px){
    .grid{
        margin: 50px;
    }
    .body .grid img{
        width: 210px;
    }

}

/*footer*/
.footer{
    background-color: #FF4445; padding: 20px 0;
}

.footer  a{
    color: white; display: inline-block;	
}
.footer  a:hover{
    color: white;    
}
.copy{
    background-color: black; color: white;
}